

body {
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}


.card {
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 85vh;
    text-align: center;
    
    
   
}

img.Birthday {
    max-height: 35vh;
    margin-top: 50px;
}

.card .music {
    text-align: center;
    margin: 40px;
    
}
